<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>Airpurifier.googleauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.336866390855-84und596onrlv6rfde4r12riu4ebpc64</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>336866390855-84und596onrlv6rfde4r12riu4ebpc64.apps.googleusercontent.com</string>
	<key>HA_BASE_URL</key>
	<string>https://ob2s2wfi0mp5smcvcbz8rydvzt2hlvwk.ui.nabu.casa</string>
	<key>HA_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIwNDEzNmRkYTA3ODE0ODY4YmIwMWU4NmJlZWY0MDA2MiIsImlhdCI6MTc0OTcwNDQ0NCwiZXhwIjoyMDY1MDY0NDQ0fQ.XshdadBtHNeAv0_L-X69q_lwTPm6fYKSh-zTsvgymvE</string>
</dict>
</plist>
